.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

node_modules

# Local History for Visual Studio Code
.history/

__pycache__/
config/

# Built Visual Studio Code Extensions
*.vsix

.idea/
.env